<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Tubes2-AI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
 	<servlet>
		<servlet-name>myServlet</servlet-name>
		<servlet-class>mypackage.MyServlet</servlet-class>
		<init-param>
		    <description>
		        Set the file path where uploaded files should be stored in. This parameter is
		        required.
		    </description>
		    <param-name>uploadFilePath</param-name>
		    <param-value>resource</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>myServlet</servlet-name>
	    <url-pattern>/myServlet</url-pattern>
	</servlet-mapping>
	<filter>
	    <description>
	        Check for multipart HttpServletRequests and parse the multipart form data so that all
	        regular form fields are available in the parameterMap of the HttpServletRequest and that
	        all form file fields are available as attribute of the HttpServletRequest. The attribute
	        value of a form file field can be an instance of FileItem or FileUploadException.
	    </description>
	    <filter-name>multipartFilter</filter-name>
	    <filter-class>net.balusc.webapp.MultipartFilter</filter-class>
	    <init-param>
	        <description>
	            Sets the maximum file size of the uploaded file in bytes. Set to 0 to indicate an
	            unlimited file size. The example value of 1048576 indicates a maximum file size of
	            1MB. This parameter is not required and can be removed safely.
	        </description>
	        <param-name>maxFileSize</param-name>
	        <param-value>1048576</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>multipartFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
	    <servlet-name>fileServlet</servlet-name>
	    <servlet-class>mypackage.FileServlet</servlet-class>
		<init-param>
		    <description>
		        Set the file path where file to download is stored. This parameter is
		        required.
		    </description>
		    <param-name>downloadFilePath</param-name>
		    <param-value>file</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>fileServlet</servlet-name>
	    <url-pattern>/xfile/*</url-pattern>
	</servlet-mapping>
</web-app>